<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>

<div class="container">
  <span>Oi, {{name}}</span>

  <br>

  <span>Você Acabou de ser cadastro como um usuário no painel da kronuhs.</span>

  <span>A sua senha de acesso é: <strong>{{password}}</strong></span>

  <span>Não se preocupe, você poderá alterá-la mais tarde.</span>

  <span>
    Para acessar a plataforma clique no link: <a href={{link}} target="_blank">{{link}}</a>
  </span>

  <br>

  <strong>Obrigado!</strong>

  <h3>Equipe | <strong>kronuhs</strong></h3>
</div>